@import "tailwindcss";

@theme {
  --color-theme-default: #f2f4f7;
  --color-theme-50: rgb(231, 234, 248);
  --color-theme-100: rgb(206, 212, 244);
  --color-theme-200: rgb(165, 173, 236);
  --color-theme-300: rgb(124, 165, 227);
  --color-theme-400: rgb(83, 121, 218);
  --color-theme-500: rgb(35, 74, 174);
  --color-theme-600: rgb(28, 46, 139);
  --color-theme-700: rgb(21, 35, 104);
  --color-theme-800: rgb(14, 23, 70);
  --color-theme-900: rgb(7, 12, 35);
  --color-theme-950: rgb(4, 7, 20);
  --color-theme-red: rgb(209, 20, 20);
  --font-title: var(--font-title);
  --font-default: var(--font-default);
}

:root {
  scrollbar-color: var(--color-theme-500) transparent;
  --delay: 0ms;
  --duration: 300ms;
  --tx: 0px;
  --ty: 0px;
  --init-opacity: 0;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

@layer base {
  body {
    @apply bg-theme-default antialiased font-default tracking-tight overflow-x-hidden;
  }

  button:hover {
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 16px;
    height: 8px;
  }

  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 4px solid transparent;
    background-color: var(--color-theme-500);
    border-radius: 50px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-theme-500);
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: var(--color-theme-500);
  }

  ::-webkit-scrollbar-track {
    border: 0;
    border-radius: 50px;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--color-theme-600) !important;
  }
}

@layer components {
  .rounded-10 {
    border-radius: 10px;
  }
}